body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0;
}

main {
    padding-top: 200px;
    height: 400px;
    width: 1357px;
    background-color: #01AFF1;
    margin: 0;
    text-decoration: none;
    list-style: none;   
}

.container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.huruf {
    float: right;
    margin-left: 30px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    padding-top: 100px;
    margin: auto;
    align-items: center;
}

.car {
    padding-bottom: 150px;
    padding-right: 100px;
    float: left;
    margin: auto;
    align-content: center;
}

footer {
    height: 150px;
    width: 1357px;
    background-color: #087DF2;
}

.logo li {
    float: left;
    padding: 0 100px;
    padding-top: 20px;

}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
    padding-top: 25px;
}


li {
    list-style: none;
}

.navbar li {
    float:right ;
    padding-left: 100px ;
    padding-top: 4px;
}

.navbar {
    overflow: hidden;
    background-color: #babcbf;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-right:50px; 
    z-index: 1;
}
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
@media screen and (max-width: 576px) {
    .main {
        width: 90%;
        display: block;
        height: auto;
    }

    .navbar {
        display: block;
        width: 100%;
        text-align: center;
        margin: auto;
        float: none;
        display: inline-block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
    }

    .car {
        width: 50%;
        display: block;
    }

    .huruf {
        display: inline-block;
        float: none;
    }

    .footer {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}


    
    
